* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
}

body {
    background-color: black;
}

#sidebar-menu {
    width: 100%;
    max-width: 475px;
    height: 100vh;
    position: fixed;
    background-color: black;
    right: 0;
    padding: 40px 80px;
    transform: translateX(100%);
    transition: .4s;
    z-index: 100;
}

#sidebar-menu.menu-opened {
    transform: translateX(0);
}

#close-menu-btn {
    margin-bottom: 140px;
}

.menu-description {
    margin-bottom: 80px;
}

#sidebar-menu div:last-child {
    margin-top: 60px;
}

.content {
    max-width: 1296px;
    margin: 0 auto;
}

header {
    width: 100%;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px 0;
}

.header-links {
    display: flex;
    gap: 80px;
}


.header-links a.current {
    border-bottom: 1px solid #CDAA7D;
    color: #CDAA7D;
}

#menu-btn, #close-menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#masters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.content h2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.60px;
    text-align: center;
    margin-top: 80px;
}

#services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 80px;
}

.service-img-border {
    border: 1px #CDAA7D solid;
    width: calc(100% - 20px);
    height: max-content;
    position: relative;
    left: 20px;
    margin-bottom: 50px;
    transition: .3s ease;
}

.service-img-border img {
    width: 100%;
    position: relative;
    top: 20px;
    right: 20px;
    transition: .3s ease;
}

.service-title {
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

#services h3 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.40px;
}

.service-img-border:hover {
    transform: translate(-5px, 5px);
}

.service-img-border img:hover {
    transform: translate(10px, -10px);
}

footer .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 100px;
}

footer .content div, #sidebar-menu div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .content h3, #sidebar-menu h3 {
    padding-bottom: 10px;
}

.copyright {
    margin: 30px 0;
    text-align: center;
    opacity: 0.5;
}