* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
}

body {
    background-color: black;
}

.content {
    max-width: 1296px;
    margin: 0 auto;
}

header .content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px 0;
}

.header-links {
    display: flex;
    gap: 80px;
}